html {
    scroll-behavior: smooth;
    background-color: #FCF5E5;
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
    font-size: 2vw; 
    margin: 0;
    padding: 0;
}

.headline a {
    text-decoration: none;
    color: black;
    font-size: 1.25vw;
}

.section a {
    text-decoration: none;
    color: black;
    font-size: em;
}

a:hover {
    color: blue;
}

.headline {
    text-align: center; 
    font-size: 1.5em;
}

.image{

    height: 20%;
    width: 20%;
}

.abbreviated {
    font-weight: 1000;
    padding: 0 10%;
    font-size: 1.25vw;
}

.project_parent{
    border:  dashed black;
    margin: 5% 10%;
    text-align: center;
}

.project_parent a{
    text-decoration: none;
    color: lightskyblue;
}


.project_parent a:hover{
    color: blue;
}

.contact {
    padding: 0 10%; 
}

.contact a {
    color: darkblue;
}

.section h3 {
    text-decoration: underline;
    font-size: 2.5vw;
}

.section {
    font-size: 1.25em;
    padding: 0 10%; 
}

.smallimage {
    height: 0%;
    width: 100%;
}


.menu {
    position: absolute; 
    top: 0.5em;
    left: 0.5em;
    display: inline-block;
    min-width: 40px;
}


.menu > a {
    text-decoration: none;
    font-size: 2.5em;
    background-color: #FCF5E5;
    color: black;
    display: block;
    width: auto; 
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: #f9f9f9;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 2em;
    min-width: max-content;
}

.dropdown a {
    text-decoration: none;
    display: block;
    /* padding-right: 2vw;  */
    color: black;
    text-align: center; 
}

.dropdown a:hover {
    background-color: #ddd;
}

.menu:hover .dropdown {
    display: block;
}